.dark-mode {
    background-color: #212529;
    color: #f8f9fa;
  }
  
  .dark-mode .card {
    background-color: #1e1e1e;
    border: none;
  }
  
  .dark-mode .navbar,
  .dark-mode .footer {
    background-color: #1e1e1e;
  }
  

  body, .dark-mode, .card, .navbar, .footer{
    transition: background-color 0.5s ease, color 0.5s ease;
  }

  .dark-mode label {
    color: #f8f9fa;
  }  